*
{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(img/story.jpg);
}
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900$display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
section
{
    position:relative; 
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    position: relative;
    max-width: 150px;
}
header ul
{
    position: relative;
    display: flex;
    list-style: none;
}
header ul li a
{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.thumb
{
    padding-top: 15%;
    bottom: 100px;
    display: flex;
    justify-content: center;
}
.thumb li
{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    cursor: pointer;
    transition: 0.5%;
}
.thumb li:hover
{
    transform: translateY(-10px);
}
.thumb li img
{
    max-width: 200px;
}
.thumb li p
{
    color: white;
    font-size: 20px;
}