@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900$display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body{
    background-image: url(img/coba.jpg);
}
section
{
    position:relative; 
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    position: relative;
    max-width: 150px;
}
header ul
{
    position: relative;
    display: flex;
    list-style: none;
}
header ul li a
{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.content{

    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 2%;
}
.content .textBox
{
    position: relative;
    max-width: 600px;
}

.content .textBox h2
{
    color: rgb(108, 218, 216);
    font-size: 20px;
    line-height: 1.4em;
    font-weight: 500;
}


